blinker==1.9.0
click==8.2.1
flasgger==0.9.7.1
Flask==3.1.2
Flask-SQLAlchemy==2.0.43
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
PyYAML==6.0.2
Werkzeug==3.1.3

